<div class="row">
  <div class="col-md-4">
    <div class="d-block">
      <mat-form-field>
        <input matInput [(ngModel)]="newValue" placeholder="Add something">
      </mat-form-field>
      <button mat-icon-button (click)="add()" [disabled]="newValue == null || newValue === ''">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <mat-card>
      <mat-card-title>Items</mat-card-title>
      <mat-card-content>
        <mat-selection-list>
          <mat-list-option *ngFor="let item of items; index as i">
            <div>
              {{item}}
              <span>
                <button mat-icon-button (click)="remove(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </div>
            <!-- <div class="clearfix">
              <span>{{item}}</span>
              
              <span class="float-right">
                <button mat-button (click)="add()">Remove</button>
              </span>
            </div> -->
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-8">

  </div>
</div>